#gus {
    border: 10px solid purple;
    text-align: center;
    width: 70%;
    margin: 15% 18%;
}

#gus input{
    margin: 10px;
}

#gus #bombs img{
    width: 25px;
    margin: 5px 5px 10px 5px;
}